@font-face {
  font-family: 'zabras';
  src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/background/desert9.webp');
  /* background-image: none; */
  background-repeat: no-repeat; /* Verhindert das Wiederholen */
  background-size: cover; /* Füllt den gesamten Hintergrund aus */
  background-position: center; /* Zentriert das Bild */
  background-attachment: fixed; /* Optional: Hält das Bild beim Scrollen fest */
}

canvas {
  display: block; /*sehr wichtig das hier für responsive design */
  background-color: black;
  border-radius: 20px;
  border-width: 10px;
  opacity: 0; /* Start: Unsichtbar */
  transition: opacity 0.3s ease-in; /* Sanftes Einblenden */
}

canvas.d-none {
  display: none; /* Komplett versteckt */
}

canvas.show {
  opacity: 1; /* Voll sichtbar */
}

h1 {
  font-size: 75px;
  letter-spacing: 7px;
  text-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
}

.canvasContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative; /* Bezugspunkt für absolute Positionierung */
  width: 740px; /* Exakte Breite des Canvas */

  margin: 0 auto; /* Zentriert den Container horizontal */
  overflow: hidden; /* Verhindert Überlauf */
}

.gameOverScreen {
  background-image: url('img/9_intro_outro_screens/game_over/game over.png');
  background-size: cover; /* Skaliert proportional und füllt den Container */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert Wiederholungen */
  border-radius: 20px; /* Rundungen wie zuvor */
  border-radius: 20px;
  border-color: aqua;
  border-width: 10px;

  position: absolute; /* Überlappt andere Elemente im Container */
  top: 0;
  left: 0;
  width: 100%; /* Füllt die Breite des canvasContainer */
  height: 100%; /* Füllt die Höhe des canvasContainer */
  display: flex;

  justify-content: center; /* Zentriert das Bild horizontal */
  align-items: center; /* Zentriert das Bild vertikal */
  z-index: 2; /* Stellt sicher, dass es über dem Canvas liegt */
}

.winningScreen {
  background-image: url('img/9_intro_outro_screens/win/win_2.png');
  background-size: cover; /* Skaliert proportional und füllt den Container */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert Wiederholungen */
  border-radius: 20px; /* Rundungen wie zuvor */
  border-radius: 20px;
  border-color: aqua;
  border-width: 10px;

  position: absolute; /* Überlappt andere Elemente im Container */
  top: 0;
  left: 0;
  width: 100%; /* Füllt die Breite des canvasContainer */
  height: 100%; /* Füllt die Höhe des canvasContainer */
  display: flex;

  justify-content: center; /* Zentriert das Bild horizontal */
  align-items: center; /* Zentriert das Bild vertikal */
  z-index: 2; /* Stellt sicher, dass es über dem Canvas liegt */
}

.buttonContainer {
  position: absolute;
  bottom: 12px; /* Abstand zum unteren Rand */
  left: 50%; /* Horizontale Ausrichtung: in die Mitte verschieben */
  transform: translateX(-50%); /* Korrigiert den "Ankerpunkt" zurück auf die Mitte */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.muteDiv {
  height: 40px;
  vertical-align: middle;
}

.muteDiv img {
  height: 40px;
}

.muteDiv :hover {
  cursor: pointer;
}

.startScreen {
  display: block; /* offenbar nicht wirklich nötig.*/
  position: relative;
}
.startScreen img {
  width: 100%;
  max-width: 740px;
  border-radius: 20px;
}

.startBtn {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffc400;
  font-size: 20px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border-radius: 30px;
  border-color: black;
}

.startBtn:hover {
  background-color: #b48d16;
}

.fade-out {
  animation: fadeOut 0.1s forwards; /* 0.3s für den Fade-Out */
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dialog-overlay.active {
  opacity: 1;
  visibility: visible;
}

.dialog-box {
  background-color: #ffc400;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.dialog-overlay.active .dialog-box {
  transform: scale(1);
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Start: Voll sichtbar */
  }
  to {
    opacity: 0; /* Ende: Unsichtbar */
  }
}

.d-none {
  display: none;
}

/*  Smartphones -------------------*/
@media only screen and (max-width: 740px) {
  canvas {
    width: 100%;
  }

  .gameOverScreen {
    width: 100%;
    height: auto; /* Höhe passt sich dynamisch an */
    aspect-ratio: 3 / 2; /* Beibehaltung des Seitenverhältnisses */
  }

  .winningScreen {
    width: 100%;
    height: auto; /* Höhe passt sich dynamisch an */
    aspect-ratio: 3 / 2; /* Beibehaltung des Seitenverhältnisses */
  }

  .canvasContainer {
    width: 100%;
    height: auto; /* Höhe passt sich dynamisch an */
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .canvasContainer {
    width: 100%;
  }

  .startScreen img {
    height: 100%; /* Passt sich an die Bildschirmhöhe an */
    width: auto; /* Beibehaltung der Proportionen */
  }
}
