.mobileTouchBtn {
  height: 30px;
  vertical-align: middle;
  width: 30px;
  border: 3px solid #fcd960;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.mobileTouchBtn img {
  height: 30px;
}

.touchBtns {
  display: none;
}

.flex {
  display: flex;
}

@media (pointer: coarse) {
  .touchBtns {
    display: flex;
  }
}
